In [1]:
student_per_p = 'student-por.csv'

In [2]:
import pandas as pd

In [3]:
student_per = pd.read_csv(student_per_p, sep=';', decimal='.', header=0, names=['school', 'sex', 'age',
                                                                                  'address', 'famsize',
                                                                                  'pstatus', 'medu', 'fedu',
                                                                                  'mjob', 'fjob', 'reason',
                                                                                  'guardian', 'traveltime',
                                                                                  'studytime', 'failures',
                                                                                  'schoolsup', 'famsup',
                                                                                  'paid', 'activities',
                                                                                  'nursery', 'higher', 'internet',
                                                                                  'romantic', 'famrel', 'freetime',
                                                                                  'goout', 'dalc', 'walc', 'health',
                                                                                  'absences', 'grade1', 'grade2',
                                                                                  'finalgrade'],index_col=False)

In [4]:
student_per

,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,...,famrel,freetime,goout,dalc,walc,health,absences,grade1,grade2,finalgrade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,12,12,13
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,0,10,12,13
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,0,12,13,12
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,0,12,12,13
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,14,15
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,6,17,17,17
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,10,13,13,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,2,13,14,14
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,2,8,8,7
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,6,12,12,12
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,12,13,14
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,11,12,12
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,0,12,13,14
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,2,10,10,10
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,11,10
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,6,10,11,12
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,8,11,12,12
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,0,11,11,11
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,2,12,12,13
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,6,13,12,13
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,2,3,4,1,1,1,4,15,14,15
621,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,13,13,13
622,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
623,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,15,16,16
624,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,8,8,9
625,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,10,10,10
626,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,0,7,5,0
627,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,9,10,10
628,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,10,11,12
629,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,4,7,8,9
630,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,15,17,17
631,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,4,10,11,12
632,MS,F,19,R,GT3,T,1,1,at_home,other,...,4,3,3,1,1,3,4,7,8,9
633,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,1,13,14,14
634,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,1,16,16,16
635,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,10,8,9,9
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
637,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
638,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
639,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [5]:
#Pre-process 'school' column
#Check for missing values
student_per['school'].isnull().sum()

0

In [6]:
#Check for typos, extra whitespaces and sanity checks
student_per['school'] = student_per['school'].str.strip()
student_per['school'] = student_per['school'].str.lower()

student_per['school'].value_counts()

gp    423
ms    226
Name: school, dtype: int64

In [7]:
#Pre-porcess 'sex' column
#check for missing values
student_per['sex'].isnull().sum()

0

In [8]:
#Check for typos, extra whitespaces and sanity checks
student_per['sex'] = student_per['sex'].str.strip()
student_per['sex'] = student_per['sex'].str.lower()

student_per['sex'].value_counts()

f    383
m    266
Name: sex, dtype: int64

In [9]:
#Pre-process 'age' column
#Check for missing values
student_per['age'].isnull().sum()

0

In [10]:
#Check for sanity checks
student_per['age'].value_counts()

17    179
16    177
18    140
15    112
19     32
20      6
21      2
22      1
Name: age, dtype: int64

In [11]:
#pre-process 'address' column
#Check for missing values
student_per['address'].isnull().sum()

0

In [12]:
#Check for typos, extra whitespaces and sanity checks
student_per['address'] = student_per['address'].str.strip()
student_per['address'] = student_per['address'].str.lower()

student_per['address'].value_counts()

u    452
r    197
Name: address, dtype: int64

In [13]:
#pre-process 'famsize' column
#Check for missing values

In [14]:
student_per['famsize'].isnull().sum()

0

In [15]:
#Check for typos, extra whitespaces and sanity checks
student_per['famsize'] = student_per['famsize'].str.strip()
student_per['famsize'] = student_per['famsize'].str.lower()

student_per['famsize'].value_counts()

gt3    457
le3    192
Name: famsize, dtype: int64

In [16]:
#pre-process 'pstatus' column
#Check for missing values
student_per['pstatus'].isnull().sum()

0

In [17]:
#Check for typos, extra whitespaces and sanity checks
student_per['pstatus'] = student_per['pstatus'].str.strip()
student_per['pstatus'] = student_per['pstatus'].str.lower()

student_per['pstatus'].value_counts()

t    569
a     80
Name: pstatus, dtype: int64

In [18]:
#pre-process 'medu' column
#check for missing values
student_per['medu'].isnull().sum()

0

In [19]:
#Sanity checks
student_per['medu'].value_counts()

2    186
4    175
1    143
3    139
0      6
Name: medu, dtype: int64

In [20]:
#pre-process 'fedu' column
#Check for missing values
student_per['fedu'].isnull().sum()

0

In [21]:
#Sanity checks
student_per['fedu'].value_counts()

2    209
1    174
3    131
4    128
0      7
Name: fedu, dtype: int64

In [22]:
#pre-process 'mjob' column
#check for missing values
student_per['mjob'].isnull().sum()

0

In [23]:
#Check for typos, extra whitespaces and sanity checks
student_per['mjob'] = student_per['mjob'].str.strip()
student_per['mjob'] = student_per['mjob'].str.lower()

student_per['mjob'].value_counts()

other       258
services    136
at_home     135
teacher      72
health       48
Name: mjob, dtype: int64

In [24]:
#pre-process 'fjob' column
#check for missing values
student_per['fjob'].isnull().sum()

0

In [25]:
##Check for typos, extra whitespaces and sanity checks
student_per['fjob'] = student_per['fjob'].str.strip()
student_per['fjob'] = student_per['fjob'].str.lower()

student_per['fjob'].value_counts()

other       367
services    181
at_home      42
teacher      36
health       23
Name: fjob, dtype: int64

In [26]:
#pre-process 'reason' column
#check for missing values
student_per['reason'].isnull().sum()

0

In [27]:
#Check for typos, extra whitespaces and sanity checks
student_per['reason'] = student_per['reason'].str.strip()
student_per['reason'] = student_per['reason'].str.lower()

student_per['reason'].value_counts()

course        285
home          149
reputation    143
other          72
Name: reason, dtype: int64

In [28]:
#pre-process 'guardian' column
#check for missing values
student_per['guardian'].isnull().sum()

0

In [29]:
#Check for typos, extra whitespaces and sanity checks
student_per['guardian'] = student_per['guardian'].str.strip()
student_per['guardian'] = student_per['guardian'].str.lower()

student_per['guardian'].value_counts()

mother    455
father    153
other      41
Name: guardian, dtype: int64

In [30]:
#pre-process 'traveltime' column
#check for missing values
student_per['traveltime'].isnull().sum()

0

In [31]:
#Sanity Check
student_per['traveltime'].value_counts()

1    366
2    213
3     54
4     16
Name: traveltime, dtype: int64

In [32]:
#pre-process 'studytime' column
#check for missing values
student_per['studytime'].isnull().sum()

0

In [33]:
#Sanity checks
student_per['studytime'].value_counts()

2    305
1    212
3     97
4     35
Name: studytime, dtype: int64

In [34]:
#pre-process 'failures' column
#check for missing values
student_per['failures'].isnull().sum()

0

In [35]:
#Sanity checks
student_per['failures'].value_counts()

0    549
1     70
2     16
3     14
Name: failures, dtype: int64

In [36]:
#pre-process 'schoolsup' column
#check for missing values
student_per['schoolsup'].isnull().sum()

0

In [37]:
#Check for typos, extra whitespaces and sanity checks
student_per['schoolsup'] = student_per['schoolsup'].str.strip()
student_per['schoolsup'] = student_per['schoolsup'].str.lower()

student_per['schoolsup'].value_counts()

no     581
yes     68
Name: schoolsup, dtype: int64

In [38]:
#pre-process 'famsup' column
#check for missing values
student_per['famsup'].isnull().sum()

0

In [39]:
#Check for typos, extra whitespaces and sanity checks
student_per['famsup'] = student_per['famsup'].str.strip()
student_per['famsup'] = student_per['famsup'].str.lower()

student_per['famsup'].value_counts()

yes    398
no     251
Name: famsup, dtype: int64

In [40]:
#pre-process 'paid' column
#check for missing values
student_per['paid'].isnull().sum()

0

In [41]:
#Check for typos, extra whitespaces and sanity checks
student_per['paid'] = student_per['paid'].str.strip()
student_per['paid'] = student_per['paid'].str.lower()

student_per['paid'].value_counts()

no     610
yes     39
Name: paid, dtype: int64

In [42]:
#pre-process 'activities' column
#Check for missing values
student_per['activities'].isnull().sum()

0

In [43]:
#Check for typos, extra whitespaces and sanity checks
student_per['activities'] = student_per['activities'].str.strip()
student_per['activities'] = student_per['activities'].str.lower()

student_per['activities'].value_counts()

no     334
yes    315
Name: activities, dtype: int64

In [44]:
#pre-process 'nursery' column
#check for missing values
student_per['nursery'].isnull().sum()

0

In [45]:
#Check for typos, extra whitespaces and sanity checks
student_per['nursery'] = student_per['nursery'].str.strip()
student_per['nursery'] = student_per['nursery'].str.lower()

student_per['nursery'].value_counts()

yes    521
no     128
Name: nursery, dtype: int64

In [46]:
#pre-process 'higher' column
#check for missing values
student_per['higher'].isnull().sum()

0

In [47]:
#Check for typos, extra whitespaces and sanity checks
student_per['higher'] = student_per['higher'].str.strip()
student_per['higher'] = student_per['higher'].str.lower()

student_per['higher'].value_counts()

yes    580
no      69
Name: higher, dtype: int64

In [48]:
#pre-process 'internet' column
#check for missing values
student_per['internet'].isnull().sum()

0

In [49]:
#Check for typos, extra whitespaces and sanity checks
student_per['internet'] = student_per['internet'].str.strip()
student_per['internet'] = student_per['internet'].str.lower()

student_per['internet'].value_counts()

yes    498
no     151
Name: internet, dtype: int64

In [50]:
#pre-process 'romantic' column
#Check for missing values
student_per['romantic'].isnull().sum()

0

In [51]:
#Check for typos, extra whitespaces and sanity checks
student_per['romantic'] = student_per['romantic'].str.strip()
student_per['romantic'] = student_per['romantic'].str.lower()

student_per['romantic'].value_counts()

no     410
yes    239
Name: romantic, dtype: int64

In [52]:
#pre-process 'famrel' column
#check for missing values
student_per['famrel'].isnull().sum()

0

In [53]:
#Sanity Check
student_per['famrel'].value_counts()

4    317
5    180
3    101
2     29
1     22
Name: famrel, dtype: int64

In [54]:
#pre-process 'freetime' column
#check for missing values
student_per['freetime'].isnull().sum()

0

In [55]:
#Sanity Checks
student_per['freetime'].value_counts()

3    251
4    178
2    107
5     68
1     45
Name: freetime, dtype: int64

In [56]:
#pre-process 'goout' column
#Check for missing values
student_per['goout'].isnull().sum()

0

In [57]:
#Sanity Check
student_per['goout'].value_counts()

3    205
2    145
4    141
5    110
1     48
Name: goout, dtype: int64

In [58]:
#pre-process 'dalc' column
#check for missing values
student_per['dalc'].isnull().sum()

0

In [59]:
#Sanity Check
student_per['dalc'].value_counts()

1    451
2    121
3     43
5     17
4     17
Name: dalc, dtype: int64

In [60]:
#pre-process 'walc' column
#check for missing values
student_per['walc'].isnull().sum()

0

In [61]:
#Sanity Check
student_per['walc'].value_counts()

1    247
2    150
3    120
4     87
5     45
Name: walc, dtype: int64

In [62]:
#pre-process 'health' column
#check for missing values
student_per['health'].isnull().sum()

0

In [63]:
#Sanity Checks
student_per['health'].value_counts()

5    249
3    124
4    108
1     90
2     78
Name: health, dtype: int64

In [64]:
#pre-process 'absences' column
#check for missing values
student_per['absences'].isnull().sum()

0

In [65]:
#Sanity checks
student_per['absences'].value_counts()

0     244
2     110
4      93
6      49
8      42
10     21
1      12
5      12
12     12
16     10
14      8
3       7
9       7
11      5
7       3
18      3
15      2
21      2
22      2
30      1
13      1
24      1
26      1
32      1
Name: absences, dtype: int64

In [66]:
#pre-process 'grade1' column
#Check for missing values
student_per['grade1'].isnull().sum()

0

In [67]:
#Sanity Check
student_per['grade1'].value_counts()

10    95
11    91
12    82
13    72
14    71
9     65
8     42
15    35
7     33
16    22
17    16
6      9
18     7
5      5
4      2
19     1
0      1
Name: grade1, dtype: int64

In [68]:
#pre-process 'grade2' column
#check for missing values
student_per['grade2'].isnull().sum()

0

In [69]:
#Sanity Checks
student_per['grade2'].value_counts()

11    103
12     86
10     83
13     80
9      72
14     54
8      40
15     38
16     25
17     20
7      16
18     14
6       7
0       7
5       3
19      1
Name: grade2, dtype: int64

In [70]:
#pre-process 'finalgrade' column
#check for missing values
student_per['finalgrade'].isnull().sum()

0

In [71]:
#Sanity Checks
student_per['finalgrade'].value_counts()

11    104
10     97
13     82
12     72
14     63
15     49
16     36
9      35
8      35
17     29
0      15
18     15
7      10
6       3
19      2
5       1
1       1
Name: finalgrade, dtype: int64

In [72]:
#We have chosen 10 attributes or columns to focus on
#address
#pstatus
#guardian
#traveltime
#romantic
#famrel
#walc
#health
#absences
#finalgrade