In [1]:
student_per_p = 'student-por.csv'

In [2]:
import pandas as pd

In [3]:
student_per = pd.read_csv(student_per_p, sep=';', decimal='.', header=0, names=['school', 'sex', 'age',
                                                                                  'address', 'famsize',
                                                                                  'pstatus', 'medu', 'fedu',
                                                                                  'mjob', 'fjob', 'reason',
                                                                                  'guardian', 'traveltime',
                                                                                  'studytime', 'failures',
                                                                                  'schoolsup', 'famsup',
                                                                                  'paid', 'activities',
                                                                                  'nursery', 'higher', 'internet',
                                                                                  'romantic', 'famrel', 'freetime',
                                                                                  'goout', 'dalc', 'walc', 'health',
                                                                                  'absences', 'grade1', 'grade2',
                                                                                  'finalgrade'],index_col=False)

In [4]:
#Keep only the columns we are interested in
student_per = student_per.drop(['school', 'sex', 'age', 'famsize', 'medu', 'fedu', 'mjob', 'fjob', 'reason',
                               'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
                               'higher', 'internet', 'freetime', 'goout', 'dalc', 'grade1', 'grade2'], axis=1)

In [5]:
student_per

,address,pstatus,guardian,traveltime,romantic,famrel,walc,health,absences,finalgrade
0,U,A,mother,2,no,4,1,3,4,11
1,U,T,father,1,no,5,1,3,2,11
2,U,T,mother,1,no,4,3,3,6,12
3,U,T,mother,1,yes,3,1,5,0,14
4,U,T,father,1,no,4,2,5,0,13
5,U,T,mother,1,no,5,2,5,6,13
6,U,T,mother,1,no,4,1,3,0,13
7,U,A,mother,2,no,4,1,1,2,13
8,U,A,mother,1,no,4,1,1,0,17
9,U,T,mother,1,no,5,1,5,0,13
10,U,T,mother,1,no,3,2,2,2,14
11,U,T,father,3,no,5,1,4,0,13
12,U,T,father,1,no,4,3,5,0,12
13,U,T,mother,2,no,5,2,3,0,13
14,U,A,other,1,yes,4,1,3,0,15
15,U,T,mother,1,no,4,2,2,6,17
16,U,T,mother,1,no,3,2,2,10,14
17,U,T,mother,3,no,5,1,4,2,14
18,U,T,mother,1,no,5,4,5,2,7
19,U,T,father,1,no,3,3,5,6,12
20,U,T,mother,1,no,4,1,1,0,14
21,U,T,father,1,no,5,1,5,0,12
22,U,T,mother,1,no,4,3,5,0,14
23,U,T,mother,2,no,5,4,5,2,10
24,R,T,mother,1,no,4,1,5,2,10
25,U,T,mother,1,no,1,3,5,6,12
26,U,T,mother,1,no,4,2,5,8,12
27,U,T,mother,1,no,2,4,1,0,11
28,U,A,mother,1,no,5,1,5,2,13
29,U,T,mother,1,yes,4,5,5,4,12
...,...,...,...,...,...,...,...,...,...,...
619,U,T,mother,2,yes,4,3,3,6,13
620,U,T,mother,1,yes,2,1,1,4,15
621,R,T,father,2,no,3,2,3,0,13
622,R,T,mother,2,no,3,4,3,0,9
623,U,T,mother,2,yes,4,2,5,0,16
624,R,T,mother,3,yes,5,2,1,0,9
625,U,T,father,2,yes,5,2,4,0,10
626,R,T,father,3,yes,3,2,5,0,0
627,R,T,father,3,yes,4,3,3,3,10
628,U,T,mother,1,yes,3,1,3,8,12
629,R,T,mother,1,no,3,3,1,4,9
630,R,T,mother,2,no,5,1,1,0,17
631,R,T,mother,4,no,4,2,4,4,12
632,R,T,other,2,yes,4,1,3,4,9
633,R,T,mother,1,no,5,4,2,1,14
634,U,T,mother,1,yes,4,2,1,1,16
635,R,T,mother,1,no,4,3,1,10,9
636,U,T,father,1,no,3,4,2,4,19
637,R,T,mother,2,yes,4,3,5,0,0
638,U,T,father,2,no,4,1,3,4,16
639,R,T,mother,2,no,4,3,5,0,0
640,R,T,father,2,no,5,3,3,0,0
641,R,T,mother,2,no,5,3,4,0,15
642,U,T,mother,2,no,5,1,1,0,11
643,R,T,mother,3,yes,4,2,5,4,10
644,R,T,mother,1,no,5,2,5,4,10
645,U,T,mother,1,no,4,1,1,4,16
646,U,T,mother,2,no,1,1,5,6,9
647,U,T,mother,2,no,2,4,2,6,10
648,R,T,mother,3,no,4,4,5,4,11

In [6]:
import numpy as np

In [7]:
#convert strings into int
student_per['address'] = np.where(student_per['address']== 'U', 1, student_per['address'])
student_per['address'] = np.where(student_per['address'] == 'R', 0, student_per['address'])
student_per['address'].value_counts()

1    452
0    197
Name: address, dtype: int64

In [8]:
student_per['pstatus'] = np.where(student_per['pstatus'] == 'A', 0, student_per['pstatus'])
student_per['pstatus'] = np.where(student_per['pstatus'] == 'T', 1, student_per['pstatus'])
student_per['pstatus'].value_counts()

1    569
0     80
Name: pstatus, dtype: int64

In [9]:
student_per['guardian'] = np.where(student_per['guardian'] == 'mother', 0, student_per['guardian'])
student_per['guardian'] = np.where(student_per['guardian'] == 'father', 1, student_per['guardian'])
student_per['guardian'] = np.where(student_per['guardian'] == 'other', 2, student_per['guardian'])
student_per['guardian'].value_counts()

0    455
1    153
2     41
Name: guardian, dtype: int64

In [10]:
student_per['romantic'] = np.where(student_per['romantic'] == 'no', 0, student_per['romantic'])
student_per['romantic'] = np.where(student_per['romantic'] == 'yes', 1, student_per['romantic'])
student_per['romantic'].value_counts()

0    410
1    239
Name: romantic, dtype: int64

In [11]:
#get target values, split grades
student_per['finalgrade'] = np.where(student_per['finalgrade'].between(0,4), 0, student_per['finalgrade'])
student_per['finalgrade'] = np.where(student_per['finalgrade'].between(5,9), 1, student_per['finalgrade'])
student_per['finalgrade'] = np.where(student_per['finalgrade'].between(10,14), 2, student_per['finalgrade'])
student_per['finalgrade'] = np.where(student_per['finalgrade'].between(15,20), 3, student_per['finalgrade'])
 
student_per['finalgrade'].value_counts()

2    418
3    131
1     84
0     16
Name: finalgrade, dtype: int64

In [12]:
student_per

,address,pstatus,guardian,traveltime,romantic,famrel,walc,health,absences,finalgrade
0,1,0,0,2,0,4,1,3,4,2
1,1,1,1,1,0,5,1,3,2,2
2,1,1,0,1,0,4,3,3,6,2
3,1,1,0,1,1,3,1,5,0,2
4,1,1,1,1,0,4,2,5,0,2
5,1,1,0,1,0,5,2,5,6,2
6,1,1,0,1,0,4,1,3,0,2
7,1,0,0,2,0,4,1,1,2,2
8,1,0,0,1,0,4,1,1,0,3
9,1,1,0,1,0,5,1,5,0,2
10,1,1,0,1,0,3,2,2,2,2
11,1,1,1,3,0,5,1,4,0,2
12,1,1,1,1,0,4,3,5,0,2
13,1,1,0,2,0,5,2,3,0,2
14,1,0,2,1,1,4,1,3,0,3
15,1,1,0,1,0,4,2,2,6,3
16,1,1,0,1,0,3,2,2,10,2
17,1,1,0,3,0,5,1,4,2,2
18,1,1,0,1,0,5,4,5,2,1
19,1,1,1,1,0,3,3,5,6,2
20,1,1,0,1,0,4,1,1,0,2
21,1,1,1,1,0,5,1,5,0,2
22,1,1,0,1,0,4,3,5,0,2
23,1,1,0,2,0,5,4,5,2,2
24,0,1,0,1,0,4,1,5,2,2
25,1,1,0,1,0,1,3,5,6,2
26,1,1,0,1,0,4,2,5,8,2
27,1,1,0,1,0,2,4,1,0,2
28,1,0,0,1,0,5,1,5,2,2
29,1,1,0,1,1,4,5,5,4,2
...,...,...,...,...,...,...,...,...,...,...
619,1,1,0,2,1,4,3,3,6,2
620,1,1,0,1,1,2,1,1,4,3
621,0,1,1,2,0,3,2,3,0,2
622,0,1,0,2,0,3,4,3,0,1
623,1,1,0,2,1,4,2,5,0,3
624,0,1,0,3,1,5,2,1,0,1
625,1,1,1,2,1,5,2,4,0,2
626,0,1,1,3,1,3,2,5,0,0
627,0,1,1,3,1,4,3,3,3,2
628,1,1,0,1,1,3,1,3,8,2
629,0,1,0,1,0,3,3,1,4,1
630,0,1,0,2,0,5,1,1,0,3
631,0,1,0,4,0,4,2,4,4,2
632,0,1,2,2,1,4,1,3,4,1
633,0,1,0,1,0,5,4,2,1,2
634,1,1,0,1,1,4,2,1,1,3
635,0,1,0,1,0,4,3,1,10,1
636,1,1,1,1,0,3,4,2,4,3
637,0,1,0,2,1,4,3,5,0,0
638,1,1,1,2,0,4,1,3,4,3
639,0,1,0,2,0,4,3,5,0,0
640,0,1,1,2,0,5,3,3,0,0
641,0,1,0,2,0,5,3,4,0,3
642,1,1,0,2,0,5,1,1,0,2
643,0,1,0,3,1,4,2,5,4,2
644,0,1,0,1,0,5,2,5,4,2
645,1,1,0,1,0,4,1,1,4,3
646,1,1,0,2,0,1,1,5,6,1
647,1,1,0,2,0,2,4,2,6,2
648,0,1,0,3,0,4,4,5,4,2

In [13]:
target = student_per.finalgrade

In [14]:
#get features
data = student_per[['address', 'pstatus', 'guardian', 'traveltime', 'romantic', 'famrel', 'walc', 'health', 'absences']]

In [15]:
data

,address,pstatus,guardian,traveltime,romantic,famrel,walc,health,absences
0,1,0,0,2,0,4,1,3,4
1,1,1,1,1,0,5,1,3,2
2,1,1,0,1,0,4,3,3,6
3,1,1,0,1,1,3,1,5,0
4,1,1,1,1,0,4,2,5,0
5,1,1,0,1,0,5,2,5,6
6,1,1,0,1,0,4,1,3,0
7,1,0,0,2,0,4,1,1,2
8,1,0,0,1,0,4,1,1,0
9,1,1,0,1,0,5,1,5,0
10,1,1,0,1,0,3,2,2,2
11,1,1,1,3,0,5,1,4,0
12,1,1,1,1,0,4,3,5,0
13,1,1,0,2,0,5,2,3,0
14,1,0,2,1,1,4,1,3,0
15,1,1,0,1,0,4,2,2,6
16,1,1,0,1,0,3,2,2,10
17,1,1,0,3,0,5,1,4,2
18,1,1,0,1,0,5,4,5,2
19,1,1,1,1,0,3,3,5,6
20,1,1,0,1,0,4,1,1,0
21,1,1,1,1,0,5,1,5,0
22,1,1,0,1,0,4,3,5,0
23,1,1,0,2,0,5,4,5,2
24,0,1,0,1,0,4,1,5,2
25,1,1,0,1,0,1,3,5,6
26,1,1,0,1,0,4,2,5,8
27,1,1,0,1,0,2,4,1,0
28,1,0,0,1,0,5,1,5,2
29,1,1,0,1,1,4,5,5,4
...,...,...,...,...,...,...,...,...,...
619,1,1,0,2,1,4,3,3,6
620,1,1,0,1,1,2,1,1,4
621,0,1,1,2,0,3,2,3,0
622,0,1,0,2,0,3,4,3,0
623,1,1,0,2,1,4,2,5,0
624,0,1,0,3,1,5,2,1,0
625,1,1,1,2,1,5,2,4,0
626,0,1,1,3,1,3,2,5,0
627,0,1,1,3,1,4,3,3,3
628,1,1,0,1,1,3,1,3,8
629,0,1,0,1,0,3,3,1,4
630,0,1,0,2,0,5,1,1,0
631,0,1,0,4,0,4,2,4,4
632,0,1,2,2,1,4,1,3,4
633,0,1,0,1,0,5,4,2,1
634,1,1,0,1,1,4,2,1,1
635,0,1,0,1,0,4,3,1,10
636,1,1,1,1,0,3,4,2,4
637,0,1,0,2,1,4,3,5,0
638,1,1,1,2,0,4,1,3,4
639,0,1,0,2,0,4,3,5,0
640,0,1,1,2,0,5,3,3,0
641,0,1,0,2,0,5,3,4,0
642,1,1,0,2,0,5,1,1,0
643,0,1,0,3,1,4,2,5,4
644,0,1,0,1,0,5,2,5,4
645,1,1,0,1,0,4,1,1,4
646,1,1,0,2,0,1,1,5,6
647,1,1,0,2,0,2,4,2,6
648,0,1,0,3,0,4,4,5,4

In [16]:
#import statements
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix

from sklearn.metrics import classification_report

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

In [17]:
#Model: 50% for training and 50% for testing
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.5, random_state=0)

In [18]:
x_train

,address,pstatus,guardian,traveltime,romantic,famrel,walc,health,absences
4,1,1,1,1,0,4,2,5,0
525,1,1,0,1,0,4,2,5,0
501,1,1,1,1,0,4,5,5,8
358,1,1,0,2,0,3,4,1,8
426,0,1,0,2,0,5,3,5,4
5,1,1,0,1,0,5,2,5,6
141,0,1,0,4,0,5,1,3,0
502,0,1,0,3,0,1,5,3,2
135,1,0,1,1,0,3,4,5,12
378,1,1,0,1,0,4,5,5,0
584,0,1,0,2,0,4,1,5,0
22,1,1,0,1,0,4,3,5,0
589,1,1,1,1,0,5,1,3,0
276,1,1,0,3,0,4,1,4,7
284,1,1,0,1,0,3,5,5,4
270,1,1,0,1,0,5,2,5,4
622,0,1,0,2,0,3,4,3,0
281,1,1,0,1,0,4,4,5,0
220,1,0,0,1,0,2,2,4,2
590,1,1,0,3,1,3,2,5,3
320,1,1,1,1,1,2,1,4,2
120,1,1,0,1,0,3,2,1,0
81,1,1,0,1,0,5,2,5,2
637,0,1,0,2,1,4,3,5,0
616,1,1,1,2,1,3,2,3,2
354,1,1,0,2,0,5,2,1,2
630,0,1,0,2,0,5,1,1,0
624,0,1,0,3,1,5,2,1,0
160,1,1,1,1,1,2,4,1,6
634,1,1,0,1,1,4,2,1,1
...,...,...,...,...,...,...,...,...,...
543,0,1,1,3,1,3,3,5,2
544,0,1,1,2,1,5,3,5,2
265,0,1,0,2,0,4,3,5,4
288,1,0,0,1,1,4,3,5,2
423,1,1,1,2,1,4,3,5,11
147,1,1,0,2,0,4,1,5,6
177,1,1,1,1,0,5,4,2,2
99,1,1,0,1,0,5,1,3,2
448,0,1,0,2,1,4,1,4,6
431,0,1,1,1,1,4,2,5,0
115,1,1,1,1,0,5,2,5,6
72,0,1,0,1,1,3,4,5,2
537,1,0,0,1,0,4,2,5,11
639,0,1,0,2,0,4,3,5,0
174,0,1,0,2,1,3,2,5,8
87,1,1,0,1,0,5,3,1,4
551,1,1,1,2,0,4,2,1,0
486,1,1,1,1,0,4,4,3,1
314,0,1,0,1,1,3,2,1,2
396,1,1,0,1,1,4,3,5,6
600,0,1,1,3,0,4,4,4,4
472,0,1,1,3,1,4,1,4,0
70,1,1,1,2,0,4,1,5,2
599,0,1,0,3,1,2,1,1,5
277,1,1,1,1,0,4,2,5,4
9,1,1,0,1,0,5,1,5,0
359,0,1,1,1,0,4,5,5,2
192,0,1,0,1,1,4,4,3,8
629,0,1,0,1,0,3,3,1,4
559,0,1,2,3,0,4,1,4,0

In [19]:
x_train.shape

(324, 9)

In [20]:
y_train

4      2
525    3
501    2
358    3
426    2
5      2
141    2
502    1
135    2
378    3
584    2
22     2
589    2
276    3
284    1
270    3
622    1
281    2
220    2
590    1
320    2
120    2
81     1
637    0
616    2
354    3
630    3
624    1
160    2
634    3
      ..
543    1
544    2
265    3
288    2
423    2
147    2
177    1
99     2
448    3
431    2
115    2
72     2
537    2
639    0
174    1
87     3
551    2
486    2
314    3
396    3
600    2
472    3
70     2
599    2
277    2
9      2
359    3
192    2
629    1
559    2
Name: finalgrade, Length: 324, dtype: int64

In [21]:
y_train.shape

(324L,)

In [22]:
x_test.shape

(325, 9)

In [23]:
y_test.shape

(325L,)

In [24]:
clf = DecisionTreeClassifier()

In [25]:
#train first model
fit_1 = clf.fit(x_train, y_train)

In [26]:
y_pre = fit_1.predict(x_test)

In [27]:
y_pre.shape

(325L,)

In [28]:
#create the confusion_matrix for model 1
cm_1 = confusion_matrix(y_test, y_pre)

In [29]:
print cm_1

[[  0   1   7   3]
 [  0   8  33   4]
 [  6  28 122  51]
 [  1   6  39  16]]

In [30]:
#create classification_report for model 1
print classification_report(y_test, y_pre)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        11
           1       0.19      0.18      0.18        45
           2       0.61      0.59      0.60       207
           3       0.22      0.26      0.24        62

   micro avg       0.45      0.45      0.45       325
   macro avg       0.25      0.26      0.25       325
weighted avg       0.45      0.45      0.45       325

In [32]:
#create classification error rate
accuracy_1 = accuracy_score(y_test, y_pre, normalize=False) / float(y_test.size)

In [33]:
print accuracy_1

0.4492307692307692

In [34]:
#train model 2 with 60% for training and 40% testing
a_train, a_test, b_train, b_test = train_test_split(data, target, test_size=0.4, random_state=0)

In [35]:
a_train.shape

(389, 9)

In [36]:
b_train.shape

(389L,)

In [37]:
a_test.shape

(260, 9)

In [38]:
b_test.shape

(260L,)

In [39]:
#train model 2
fit_2 = clf.fit(a_train, b_train)

In [40]:
b_pre = fit_2.predict(a_test)

In [41]:
b_pre.shape

(260L,)

In [42]:
#create confusion matrix for model 2
cm_2 = confusion_matrix(b_test, b_pre)

In [43]:
print cm_2

[[ 0  2  4  2]
 [ 1  5 26  3]
 [ 3 30 91 43]
 [ 1  6 31 12]]

In [44]:
#create a classification report
print classification_report(b_test, b_pre)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         8
           1       0.12      0.14      0.13        35
           2       0.60      0.54      0.57       167
           3       0.20      0.24      0.22        50

   micro avg       0.42      0.42      0.42       260
   macro avg       0.23      0.23      0.23       260
weighted avg       0.44      0.42      0.43       260

In [45]:
#Create classification error rate
accuracy_2 = accuracy_score(b_test, b_pre, normalize=False) / float(b_test.size)

In [46]:
print accuracy_2

0.4153846153846154

In [47]:
#train model 3 with 80% for training and 20% for testing
s_train, s_test, t_train, t_test = train_test_split(data, target, test_size=0.2, random_state=0)

In [48]:
s_train.shape

(519, 9)

In [49]:
t_train.shape

(519L,)

In [50]:
s_test.shape

(130, 9)

In [51]:
t_test.shape

(130L,)

In [52]:
#train model 2
fit_3 = clf.fit(s_train, t_train)

In [53]:
t_pre = fit_3.predict(s_test)

In [55]:
t_pre.shape

(130L,)

In [56]:
#create the confusion matrix for model 3
cm_3 = confusion_matrix(t_test, t_pre)

In [57]:
print cm_3

[[ 0  1  0  0]
 [ 0  4  8  2]
 [ 1 22 50 19]
 [ 2  3 10  8]]

In [58]:
#create a classification report
print classification_report(t_test, t_pre)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       0.13      0.29      0.18        14
           2       0.74      0.54      0.62        92
           3       0.28      0.35      0.31        23

   micro avg       0.48      0.48      0.48       130
   macro avg       0.29      0.29      0.28       130
weighted avg       0.58      0.48      0.52       130

In [59]:
#Create a classification error rate
accuracy_3 = accuracy_score(t_test, t_pre, normalize=False) / float(t_test.size)

In [60]:
print accuracy_3

0.47692307692307695